body{
    margin: 0 !important;
    
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.background{
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    opacity: 0.3;
}
.form{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.146);
    width: 45%;
    height: 60%;
    padding: 70px 200px 20px 200px;
}
.form table tr{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 20px;
}

.class{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.class div{
    display: flex;
    flex-direction: column;
}
hr{
    border: none;
    border-top: 3px solid red;
    height: 10px;
    position: absolute;
    width: 400px;
}
.hr1{
    left: 0;
    top: -7px !important;
}
.hr2{
    right: 0;
    bottom: -18px !important;
}
#age-container {
    display: inline-block;
    position: relative;
    color: white;
    margin: 10px 0;
}

#age {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 250px;
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
}
#age:focus{
    outline: none;
}
.tabs{
    margin-right: 55px;
}
#age-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: white;
}

.class input[type="checkbox"],
.tabs input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #fff;
        background-color: transparent;
        padding: 5px; 
        border-radius: 3px;
        margin-bottom: 1px;
        cursor: pointer;
}

.class input[type="checkbox"]:checked ,
.tabs input[type="radio"]:checked  {
    background: rgb(92,10,10);
    background: linear-gradient(90deg, rgba(92,10,10,1) 8%, rgba(120,12,12,1) 49%, rgba(149,18,18,1) 83%, rgba(201,29,29,1) 100%);
    border: none;
    padding: 6px; 

}

input[type="text"],input[type="password"], textarea {
    width: 250px;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
input:focus, textarea:focus {
    outline: none; 
    font-weight: 100;
}
input[type="text"],input[type="password"]{
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
}
tr button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    background: rgb(57,6,6);
    background: linear-gradient(90deg, rgba(57,6,6,1) 8%, rgba(85,12,12,1) 49%, rgba(128,19,19,1) 83%, rgba(175,36,36,1) 100%);
    color: white;
    width: 100%;
}